<div>
  <.hero_banner />
  <.menu_frame title="MENU">
    <:section title="ENTRADAS">
      TOSTAS VARIADAS (PASTAS DE ATUM, DELÍCIAS, QUEIJO GRATINADO, ETC.) • PASTÉIS DE BACALHAU • RISSOS DE CAMARÃO • RISSOS DE CARNE • COLA DE GAMBA • RISHOS À MINHOTA • MELÃO COM PRESUNTO • MOELIJINHAS • PANADILHOS • BACALHAU À BRÁS • ARROZ DE TAMBORIL • CAMARÃO SELECCIONADO
    </:section>

    <:section title="SOPA">
      CREME DE LEGUMES
    </:section>

    <:section title="PRATO PRINCIPAL">
      NACO DE VITELA COM ANANAS BRASEAD0, BATATA, ARROZ E LEGUMES
    </:section>
  </.menu_frame>
  <.info_section />
  <.program_section />
</div>
