<div class="">
  <.hero
    date_info="30 | 05 • Quinta da Aldeia"
    ticket_url="/bilhetes/comprar"
  />

  <.about_section
    title="Uma Noite\nInesquecível"
    description="Junta-te aos teus colegas para uma noite de elegancia, conexao e celebracao. O Jantar de Gala do CeSIUM reune a nossa comunidade num ambiente formal para honrar conquistas e criar memorias inesqueciveis."
  />

  <.forecast />
</div>
