<div class="">
  <.hero
    date_info="05/06 • Quinta da Aldeia"
    ticket_url="/bilhetes/comprar"
  />

  <.info_section />

  <.menu_frame title="MENU">
    <:section title="ENTRADAS">
      Patê de atum com tostas • Guacamole com nachos • Salada de bacalhau • Polvo com molho vinagrete • Salada primavera • Variedade de tapas • Variedade de miniaturas salgadas • Mini croissantes com fiambre • Salgadinhos • Salgadinhos vegetarianos • Folhadinhos de salsicha • Pão de alho • Mini pizzas • Cogumelos salteados com bacon • Ovos rotos • Bacalhau com natas • Moelinhas • Rojõezinhos • Alheira grelhada com grelos
    </:section>

    <:section title="SOPA">
      CREME DE LEGUMES
    </:section>

    <:section title="PRATO DE CARNE">
      NACO DE VITELA COM BATATA, ARROZ E LEGUMES
    </:section>

    <:section title="PRATO VEGETARIANO">
      RISOTTO DE COGUMELOS
    </:section>

    <:section title="SOBREMESAS">
      FRUTAS LAMINADAS • BOLO DE ANIVERSÁRIO • PUDIM • MOLOTOF • OUTROS
    </:section>
  </.menu_frame>

  <.program_section />
</div>
