<div class="border border-blue-500 p-8 bg-white rounded-box relative my-4">
  <div>
    <h2 class="text-4xl font-amarante text-blue-500 mb-3 uppercase">Confirma os teus Bilhetes</h2>
    <p class="font-cormorant text-gray-600 my-2">
      Revê e confirma a tua seleção de bilhetes antes de pagares
    </p>
  </div>

  <div class="flex flex-row justify-between p-2 bg-blue-100 rounded-field items-center my-4">
    <div class="flex flex-row gap-4 items-center">
      <div class="bg-blue-200 p-2 rounded-lg flex items-center justify-center">
        <.icon name="hero-ticket" class="size-6 text-blue" />
      </div>
      <div class="flex flex-col">
        <p class="font-cormorant text-sm">
          {if @form_data[:is_cesium_member].value, do: "Sócio CeSIUM", else: "Bilhete Normal"}
        </p>
        <p class="text-xs text-gray-500 font-cormorant">
          {if @form_data[:is_cesium_member].value, do: "Preço de sócio", else: "Preço não sócio"}
        </p>
      </div>
    </div>
    <div class="font-cormorant text-gray-600">
      {@price_per_ticket} €
    </div>
  </div>

  <%= if @has_accompany? do %>
    <div class="flex flex-row justify-between p-2 bg-blue-100 rounded-field items-center mb-4">
      <div class="flex flex-row gap-4 items-center">
        <div class="bg-blue-200 p-2 rounded-lg flex items-center justify-center">
          <.icon name="hero-ticket" class="size-6 text-blue" />
        </div>
        <div class="flex flex-col">
          <p class="font-cormorant text-sm">Acompanhante</p>
          <p class="text-xs text-gray-500 font-cormorant">Preço de acompanhante</p>
        </div>
      </div>
      <div class="font-cormorant text-gray-600">
        {@companion_price} €
      </div>
    </div>
  <% end %>

  <hr class="w-full border-t border-gray-300 my-6" />

  <div class="flex flex-row justify-between mb-6">
    <div>
      <p class="font-cormorant text-sm">Total</p>
      <p class="font-cormorant text-sm">
        {if @has_accompany?, do: "2 bilhetes", else: "1 bilhete"}
      </p>
    </div>
    <span class="font-cormorant text-3xl font-bold">
      {@amount_to_pay} €
    </span>
  </div>

  <div class="flex flex-row justify-between mt-4">
    <div>
      <.primary_button
        type="button"
        phx-click="previous_step"
        text="Voltar"
        color={:light_muted}
        icon="hero-arrow-left"
        iconpos={:left}
        class="font-amarante"
      />
    </div>
    <div>
      <.primary_button
        type="button"
        phx-click="next_step"
        text="Seguinte"
        color={:blue}
        icon="hero-arrow-right"
        iconpos={:right}
        class="font-cormorant"
      />
    </div>
  </div>
</div>
